html,
body {
  min-width: 300px;
}

.page-choice {
  min-width: 100%;
  padding: 8px;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  font-family: "ＭＳ Ｐゴシック";
}

.page-choice:hover {
  background-color: #CBD2FF;
}
